html body {
   background-color: black;
}

.intro {
    min-height: 100vh;
    top: 50%;
}

.intro > div {

    justify-content: center;
}

.intro-inner > h1 {
    padding-bottom: 1em;
}

p {
    height: 10%;
}

.intro-inner {
    margin-top: 20%;
    margin-bottom: 10%;
    padding: 10%;
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    animation: fadeIn;
    animation-duration: 10s;

}

em.intro {
    color: #99d6ff;
    font-style: normal;
    letter-spacing: 0.1em;
}

.btn {
    margin: 1em;
    padding: 1em 1em;
  }
